<%= form_for @article, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, cols: "100" , rows: "15", class: 'text_area'  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Image", :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field "picture" %>
    </div>
  </div>

  <!--
    Nested Form Goes Here
  -->
 
  <div class="control-group">
    <%= f.label :categories, :class => 'control-label'  %>
    <%= f.fields_for :categories do |fc| %>
      <div class="controls">
        <%= fc.text_field :name %>
      </div>
    <% end %>

  </div>

  
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, options_for_select([
          ['Make Draft', 'draft'], 
          ['Publish', 'published']
        ], 
        selected: @article.status), :class => 'select_field' %>
      
    </div>
  </div>
  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
<% end %>
