<%= form_for @article, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_area' %>
    </div>


  <div class="field">
    <%= f.label :categories %><br>

   
      <%= f.fields_for :categories do |fc| %>
        <% @categories.each do |category| %>
          
          <%= fc.label category.name %><br />
        <% end %>
       
        
      <% end %>
    

  </div>

  <div class="field">
    <%= f.file_field "uploaded_picture" %>

  </div>
  
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, options_for_select([
          ['Make Draft', 'draft'], 
          ['Publish', 'published']
        ], 
        selected: 'draft'), :class => 'select_field' %>
      
    </div>
  </div>
  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
<% end %>
