<div class="container">
  <div class="page-header">
    <h3><%= @article.title.titleize %></h3>
  </div>

  <article>
    <div class='published_date'>
      <%= @article.updated_at.strftime('%e %b %Y') %>,&nbsp;
      <span class='author'>Author: <%= @article.blog.user.name %></span>
    </div>
    <% unless @article.pictures[0].name.blank? %>
      <img src=<%= @article.pictures[0].name_url %> alt="article_image"/>
    <% end %>
      <%= sanitize @article.content %>
      
  </article>
  

  <% if user_signed_in? %>
    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  articles_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_article_path(@article), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  article_path(@article),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
  <% end %>
</div>

